@model RABCDome.ViewModels.UserRoleViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutForm.cshtml";
}

<form class="bootstrap-frm" action="@Url.Action("Update")">
    <h1>用户角色-编辑</h1>
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <input type="hidden" name="RoleId" value="@Model.RoleId" />
    <label>
        <span>用户名称</span>
        <input type="text" name="UserName" value="@Model.UserName" />
    </label>
    <label>
        <span>角色名称</span>
        <input type="text" name="RoleName" value="@Model.RoleName" />
    </label>
    <label>
        <span>更多角色</span>
        @Html.DropDownList("UpdateRoleId", (IEnumerable<SelectListItem>)ViewBag.RoleOptions)
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="提交" />
    </label>
</form>

@section Script
{
    <script>
        $(".button").click(function () {
            parent.location.reload();
            $.ajax({
                url: '@Url.Action("Update", "UserRole")',
                type: "post",
                data: $(".bootstrap-frm").serialize(),
                success:function(data) {
                    if (data.code === 200) {
                        var index = parent.layer.getFramIndex(window.name);
                        parent.layer.close(index);
                    } else {
                        alert("提交失败");
                    }
                }
            });
        });
    </script>
}

